<div class="allapp">
    <div class="container">
        <div class="row">
            <div class="firstcontact col-6">
                <div class="phone-address">
                    <ul>
                        <li><img src="../assets/images/smallphone.PNG" alt=""></li>
                        <li style="margin-top: 3px">CALL US: +381 65 666 6666</li>
                        <li><img src="../assets/images/smalladdress.PNG" alt=""></li>
                        <li style="margin-top: 3px">71 Madison Ave</li>
                    </ul>
                </div>
            </div>
            <div class="system col-6">
                <ul>
                    <li><a href="https://www.facebook.com/opalwordpress/" title=""><i class="fab fa-facebook"></i></a></li>
                    <li><a href="" title=""><i class="fab fa-twitter"></i></a></li>
                    <li><a href="https://www.youtube.com/user/WPOpalTheme" title=""><i class="fab fa-youtube"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
<div class="footer">
    <div class="img-footer" style="background-color: #181818;">
        <img src="../assets/images/footer.PNG" style="width: 100%;margin-bottom:50px;" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-3 content-footer">
                <h3>ADDRESS</h3>
                <p>570 8th Ave,<br>New York, NY 10018<br>United States</p>
            </div>
            <div class="col-3 content-footer">
                <h3>BOOK A TABLE</h3>
                <p>Dogfood och Sliders foodtruck.<br>Under Om oss kan ni läsa<br>
                    <span style="color:#ffc222; font-size: 20px;font-weight:700">(850) 435-4155</span></p>
            </div>
            <div class="col-3 content-footer">
                <h3>OPENING HOURS</h3>
                <p>Monday – Friday: 8am – 4pm<br>Saturday: 9am – 5pm</p>
                <ul>
                    <a href="https://www.facebook.com/opalwordpress/" title="">
                        <li><i class="fab fa-facebook"></i></li>
                    </a>
                    <a href="" title="">
                        <li><i class="fab fa-twitter"></i></li>
                    </a>
                    <a href="https://www.youtube.com/user/WPOpalTheme" title="">
                        <li><i class="fab fa-youtube"></i></li>
                    </a>
                </ul>
            </div>
            <div class="col-3 content-footer">
                <h3>NEWSLETTER</h3>
                <p>Subscribe to the weekly newsletter<br>for all the latest updates</p>
            </div>
        </div>
    </div>
</div>