<div class="head">
    <div class="container">
        <div class="row">
            <div class="menu-cart col-7">
                <div class="row">
                    <div class="col-2 logo">
                        <a routerLink="../home" title=""><img src="../../assets/images/logo.PNG" alt=""></a>
                    </div>
                    <div class="col-10 menu-all">
                        <nav>
                            <ul class="menu">
                                <li><a routerLink="../home">Home</a></li>
                                <!-- <li><a routerLink="../menu">Menu</a></li> -->
                                <li><a routerLink="../about" style="color: #ffc222;">About</a></li>
                                <li><a routerLink="../shop">Shop</a></li>
                                <li><a routerLink="../blog">Blog</a></li>
                                <li><a routerLink="../faq">Faqs</a></li>
                                <!-- <li><a style="cursor: pointer;">Page</a>
                                    <ul class="sub-page">
                                        <li><a routerLink="../faq" title="">faqs</a></li>
                                        <li><a routerLink="../team" title="">our team</a></li>
                                    </ul>
                                </li> -->
                                <li><a routerLink="../contact">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="ship-call col-5">
                <div class="row">
                    <div class="img-ship col-2">
                        <img src="../../assets/images/ship.PNG" alt="">
                    </div>
                    <div class="call col-6">
                        <p>Call and Order in</p>
                        <p class="phone-number"> +1 718-904-4450</p>
                    </div>
                    <div class="contact-login col-4">
                        <ul>
                            <li><a routerLink="../user"><i class="fas fa-user"></i></a></li>
                            <li><a routerLink="../cart"><i class="fas fa-shopping-cart"></i></a></li>
                            <li><a routerLink="../orderall" title="your orders"><i class="fas fa-address-book"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="banner-menu">
        <div class="img-banner" style="opacity: 0.2;filter:brightness(80%);">
            <img src="../../assets/images/bannermenu1.jpg" alt="">
        </div>
        <div class="titlemenu container">
            <h1>About Us</h1>
            <div class="tohome container">
                <div class="row">
                    <div class="linkhome col-6">
                        <a routerLink="../home" title="">Home</a>
                        <i class="fas fa-chevron-right"></i>
                    </div>
                    <div class="menu-menu col-6">
                        <p>About us</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="wellcome">
    <div class="row">
        <div class="wellcome-init col-5">
            <div class="wellcome-img">
                <img src="../../assets/images/wellcome.PNG" alt="">
            </div>
            <div class="wellcome-title">
                <h1>Best burger ideas & traditions from the whole world</h1>
            </div>
            <div class="wellcome-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p><br>
                <p>Mauris tempus erat laoreet turpis lobortis, eu tincidunt erat fermentum. Aliquam non tincidunt urna. Integer tincidunt nec nisl vitae ullamcorper. Proin sed ultrices erat.</p>
                <a routerLink="../contact"><button type="">CONTACT NOW</button></a>
            </div>
        </div>
        <div class="wellcome-img12 col-3 wow animate__animated animate__fadeInUp">
            <img src="../../assets/images/image1-h4.jpg" alt="">
        </div>
        <div class="wellcome-img12 col-4">
            <img class="wow animate__animated animate__fadeInUp" src="../../assets/images/image2-h4.jpg" alt="">
            <img class="wow animate__animated animate__fadeInUp" style="margin-top: 30px;" src="../../assets/images/image3-h4.jpg" alt="">
        </div>
    </div>
</div>
<div class="slider">
</div>

<div class="quality">
    <div class="row quality1">
        <div class="quality-content col-5">
            <div class="quality-img">
                <img src="../../assets/images/quality.PNG" alt="">
            </div>
            <div class="quality-title">
                <h3>Chicken</h3>
            </div>
            <div class="quality-main">
                <p>Quality is our #1 ingredient. That’s why our Chicken Wings, Chicken Bites and Grilled Chicken Topping are made from chickens raised without antibiotics and fed an all vegetable-grain diet, with no animal by-products. Plus, our Bites are
                    made with 100% chicken breast meat.</p>
                <a routerLink="../shop"><button type="">ORDER NOW</button></a>
            </div>
        </div>
        <div class="img-quality col-7 wow animate__animated animate__fadeInTopLeft">
            <img src="../../assets/images/about-imager-5.png" alt="">
        </div>
    </div>
    <div class="row quality1">
        <div class="img-quality col-7 wow animate__animated animate__fadeInTopRight">
            <img style="width: 75%;" src="../../assets/images/about-imager-6.png" alt="">
        </div>
        <div class="quality-content col-5">
            <div class="quality-img">
                <img src="../../assets/images/quality.PNG" alt="">
            </div>
            <div class="quality-title">
                <h3>Burger</h3>
            </div>
            <div class="quality-main">
                <p>Some of the world’s best cheese is made close to home! All our deliciously melty Mozzarella is made with 100% Canadian milk. We’re proud to support Canadian dairy farmers.</p>
                <a routerLink="../shop"><button type="">ORDER NOW</button></a>
            </div>
        </div>
    </div>
    <div class="row quality1">
        <div class="quality-content col-5">
            <div class="quality-img">
                <img src="../../assets/images/quality.PNG" alt="">
            </div>
            <div class="quality-title">
                <h3>Pizza Douch</h3>
            </div>
            <div class="quality-main">
                <p>Quality is our #1 ingredient. That’s why our Chicken Wings, Chicken Bites and Grilled Chicken Topping are made from chickens raised without antibiotics and fed an all vegetable-grain diet, with no animal by-products. Plus, our Bites are
                    made with 100% chicken breast meat.</p>
                <a routerLink="../shop"><button type="">ORDER NOW</button></a>
            </div>
        </div>
        <div class="img-quality col-7 wow animate__animated animate__fadeInTopLeft">
            <img src="../../assets/images/about-imager-7.png" alt="">
        </div>
    </div>
</div>

<div class="comment">
    <div class="comment-img">
        <img src="../../assets/images/about-pizza.jpg" alt="">
    </div>
</div>

<div class="chefs">
    <div class="chef-title wow animate__animated animate__fadeInUp">
        <img src="../../assets/images/about-quality.PNG" alt="">
        <p>Our Talented Chefs</p>
    </div>
    <div class="chefs-main row">
        <div class="col-4 chefs-one">
            <div class="chef-img">
                <img class="wow animate__animated animate__fadeInUp" src="../../assets/images/box-team-1-2.jpg" alt="">
            </div>
            <div class="position">
                <p>CHEF</p>
            </div>
            <h4>WILLIAM SMITH</h4>
            <p>Everything We Pizza, We Pizza With Love. Designer Fastfood.</p>
            <div class="contact-login">
                <ul>
                    <li><a routerLink=""><i class="fab fa-facebook"></i></a></li>
                    <li><a routerLink=""><i class="fab fa-twitter"></i></a></li>
                    <li><a routerLink=""><i class="fab fa-google-plus"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="col-4 chefs-one">
            <div class="chef-img">
                <img class="wow animate__animated animate__fadeInUp" data-wow-delay="0.2s" src="../../assets/images/box-team-6-1.jpg" alt="">
            </div>
            <div class="position">
                <p style="margin-left: -16px;">MANAGER</p>
            </div>
            <h4>JOHN DOE</h4>
            <p>Everything We Pizza, We Pizza With Love. Designer Fastfood.</p>
            <div class="contact-login">
                <ul>
                    <li><a routerLink=""><i class="fab fa-facebook"></i></a></li>
                    <li><a routerLink=""><i class="fab fa-twitter"></i></a></li>
                    <li><a routerLink=""><i class="fab fa-google-plus"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="col-4 chefs-one">
            <div class="chef-img">
                <img class="wow animate__animated animate__fadeInUp" data-wow-delay="0.3s" src="../../assets/images/box-team-2-1.jpg" alt="">
            </div>
            <div class="position">
                <p>CHEF</p>
            </div>
            <h4>BRADD L.</h4>
            <p>Everything We Pizza, We Pizza With Love. Designer Fastfood.</p>
            <div class="contact-login">
                <ul>
                    <li><a routerLink=""><i class="fab fa-facebook"></i></a></li>
                    <li><a routerLink=""><i class="fab fa-twitter"></i></a></li>
                    <li><a routerLink=""><i class="fab fa-google-plus"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="delivery">
    <div class="row delivery-init">
        <div class="col-4 img-fastfood">
            <img src="../../assets/images/fast-food-1.png" alt="">
        </div>
        <div class="delivery-content col-4">
            <h4 class="wow animate__animated animate__fadeInUp" style="color: #ffc222; font-style: italic;">We guarantee</h4>
            <h3 class="wow animate__animated animate__fadeInUp" data-wow-delay="0.1s">30 Minutes Delivery!</h3>
            <p class="wow animate__animated animate__fadeInUp" data-wow-delay="0.15s">If you’re having a meeting, working late at night and need an extra push. Let us know and we will be there</p>
            <a routerLink="../shop">
                <button type="" class="wow animate__animated animate__fadeInUp" data-wow-delay="0.2s">MAKE AN ORDER</button>
            </a>
        </div>
        <div class="col-4 img-ship">
            <img src="../../assets/images/shipper.jpg" alt="">
        </div>
    </div>
</div>