<div class="head">
    <div class="container">
        <div class="row">
            <div class="menu-cart col-7">
                <div class="row">
                    <div class="col-2 logo">
                        <a href="" title=""><img src="../../assets/images/logo.PNG" alt=""></a>
                    </div>
                    <div class="col-10 menu-all">
                        <nav>
                            <ul class="menu">
                                <li><a routerLink="../home">Home</a></li>
                                <!-- <li><a routerLink="../menu">Menu</a></li> -->
                                <li><a routerLink="../about">About</a></li>
                                <li><a routerLink="../shop">Shop</a></li>
                                <li><a routerLink="../blog">Blog</a></li>
                                <li><a routerLink="../faq">Faqs</a></li>
                                <!-- <li><a style="cursor: pointer;">Page</a>
                                    <ul class="sub-page">
                                        <li><a routerLink="../faq" title="">faqs</a></li>
                                        <li><a routerLink="../team" title="">our team</a></li>
                                    </ul>
                                </li> -->
                                <li><a routerLink="../contact">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="ship-call col-5">
                <div class="row">
                    <div class="img-ship col-2">
                        <img src="../../assets/images/ship.PNG" alt="">
                    </div>
                    <div class="call col-6">
                        <p>Call and Order in</p>
                        <p class="phone-number"> +1 718-904-4450</p>
                    </div>
                    <div class="contact-login col-4">
                        <ul>
                            <li><a routerLink="../user"><i class="fas fa-user"></i></a></li>
                            <li><a routerLink="../cart"><i class="fas fa-shopping-cart"></i></a></li>
                            <li><a routerLink="../orderall" title="your orders"><i class="fas fa-address-book"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="banner-menu">
        <div class="img-banner" style="opacity: 0.2;filter:brightness(80%);">
            <img src="../../assets/images/bannermenu1.jpg" alt="">
        </div>
        <div class="titlemenu container">
            <h1>User</h1>
            <div class="tohome container">
                <div class="row">
                    <div class="linkhome col-6">
                        <a href="../home" title="">Home</a>
                        <i class="fas fa-chevron-right"></i>
                    </div>
                    <div class="menu-menu col-6">
                        <p>User</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h1>Profile:</h1>
    <form action="" [formGroup]="userForm" class="row">
        <div class="col-4">
            <p>User Name:</p><input type="text" formControlName="username" [(ngModel)]="userName">
        </div>
        <div class="col-4">
            <p>Address:</p><input type="text" formControlName="addresses" [(ngModel)]="address">
        </div>
        <div class="col-4">
            <p>Phone:</p><input type="text" formControlName="phoneNumber" [(ngModel)]="phone">
        </div>
        <div>
            <button type="" (click)="changeProfile()">Change Profile</button>
        </div>
    </form>
    <h1>History:</h1>
    <table id="example2" class="table table-bordered table-hover dataTable dtr-inline" role="grid" aria-describedby="example2_info">
        <thead>
            <tr role="row">
                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending">Food Name
                </th>
                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending">Food Size
                </th>
                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending">Quantity</th>
                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending">Price</th>
                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending">Status</th>
                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr role="row" class="odd" *ngFor="let item of listOrder">
                <td>{{item.foodDetail?.food?.foodName}}</td>
                <td>{{item.foodDetail?.size?.sizeName}}</td>
                <td>{{item.quantity}}</td>
                <td>{{item.price}}</td>
                <td>{{item.order.orderStatus}}</td>
                <td><a class="buyagain" routerLink="../food/{{item.foodDetail?.food?.foodId}}" style="background-color: #ffc222;padding: 7px;border-radius: 8px;">Buy again</a></td>
            </tr>

        </tbody>
    </table>
</div>