ul {
    padding: 0px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    float: right;
}

ul>li {
    margin-right: 15px;
}

.menu {
    margin-top: 10px;
    margin-left: -50px;
}

.menu-all li {
    position: relative;
}

.menu-all li:hover>.sub-page {
    visibility: visible;
}

.sub-page {
    position: absolute;
    padding: 5px 0px;
    top: 100%;
    left: 0px;
    z-index: 1;
    width: 160px;
    background: white;
    visibility: hidden;
}

.sub-page li {
    font-size: 16px;
}

.sub-page li a {
    padding: 10px 30px;
    display: block;
}

.head {
    margin-top: 40px;
}

a {
    text-decoration: none;
    color: #0f172b;
}

a:hover {
    text-decoration: none;
    color: #ffc222;
}

.call {
    margin-top: -8px;
}

.phone-number {
    font-weight: 700;
    font-size: 24px;
    color: #ffc222;
    margin-top: -15px;
}

.menu li {
    font-size: 15px;
    margin-right: 18px;
    font-weight: 800;
}

.img-banner img {
    width: 100%;
    height: 340px;
}

.titlemenu {
    position: absolute;
    text-align: center;
    margin-top: -230px;
    margin-left: 205px;
}

.titlemenu h1 {
    font-weight: 700;
    font-size: 60px;
    margin-left: -40px;
}

.tohome {
    font-size: 20px;
}

.linkhome {
    text-align: end;
}

.linkhome a {
    color: burlywood;
    margin: 0 10px;
}

.linkhome a:hover {
    text-decoration: none;
    color: #ffc222;
}

.menu-menu {
    text-align: start;
    padding: 0;
}

button {
    border-radius: 6px;
    height: 50px;
    width: 150px;
    background-color: #ffc222;
    color: #0f172b;
    font-weight: 700;
    transition: 200ms;
    border: none;
}

button:hover {
    color: white;
}

button:focus {
    outline: none;
}

.food {
    margin: 70px 110px;
}

.foodmain {
    border: 1px solid #f3f3f3;
    padding: 20px 25px 0 25px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.imgfood {
    text-align: center;
    margin: -5px -42px;
}

.imgfood img {
    width: 80%;
    border-radius: 15px;
    text-align: left;
    transition: 300ms;
    background-color: #fbf7e8;
}

.imgfood:hover img {
    transform: scale(1.1);
    background-color: #ffc222;
}

.imgfood:hover img {
    transform: scale(1.1);
}

.namefood p {
    font-weight: 700;
    font-size: 25px;
    margin-top: 16px;
}

.description p {
    font-size: 15px;
    color: gray;
    font-weight: 480;
}

.cost-cart p {
    font-size: 18px;
    color: #ffc222;
    font-weight: 500;
}

.title {
    margin-bottom: 30px;
}

.result {
    color: gray;
}

.sort {
    text-align: end;
}

.select-sort {
    height: 50px;
    width: 215px;
    background-color: #fbf7e8;
    border: white;
    color: gray;
    font-size: 15px;
}

.select-sort:focus {
    outline: 0;
}

.one-catalog {
    border-bottom: dashed 1px #e5e5e5;
    margin-bottom: 15px;
    border-radius: 10px;
    padding-top: 12px;
}

.two-catalog {
    border-bottom: dashed 1px #e5e5e5;
    margin-bottom: 15px;
    border-radius: 10px;
    padding-top: 12px;
}

.foods {
    color: gray;
}

.category {
    font-size: 22px;
    font-weight: 750;
}

.catalog {
    color: gray;
    background-color: #fbf7e8;
    width: 274px;
    margin-left: -16px;
    border-radius: 15px;
    margin-bottom: 10px;
    padding: 10px 18px;
}

.search {
    margin: 34px 17px;
    background-color: #fbf7e8;
    border-radius: 5px;
}

.searchfood {
    background-color: #fbf7e8;
    border-radius: 5px;
    padding: 5px;
}

.search-field {
    border: none;
    background-color: #fbf7e8;
    border-radius: 5px;
}

.search-field:focus {
    outline: white;
}

.searchbtn {
    background-color: #fbf7e8;
}

.deal {
    font-size: 25px;
    font-weight: 700;
    margin: 36px 0;
    border-bottom: dashed 2px #efefef
}

.onedeal {
    border: #efefef 1px solid;
    border-radius: 20px;
    padding: 4px;
    margin-bottom: 15px;
}

.imgdeal {
    background-color: #fbf7e8;
    border-radius: 20px;
}

.imgdeal img {
    width: 100%;
}

.namedeal {
    font-size: 20px;
    font-weight: 700;
    padding-top: 15px;
}

.costdeal {
    font-weight: 650;
    color: #ffc222;
    padding-top: 15px;
}

.page {
    justify-content: center;
}

.page button {
    background-color: #fbf7e8;
    border-radius: 50%;
    width: 41px;
    height: 41px;
    text-align: center;
    padding: 8px 0;
    cursor: pointer;
}

.page button:hover {
    background-color: #ffc222;
}

.onsale {
    color: #fff;
    padding: 0 10px;
    font-size: 13px;
    font-weight: 700;
    line-height: 24px;
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 20px;
    background: #1e1d23;
    z-index: 3;
    border-radius: 20px;
}

p span {
    text-decoration-line: line-through;
    color: gray;
}

.namedeal:hover {
    cursor: pointer;
    color: #ffc222;
}

.foods:hover {
    cursor: pointer;
    color: black;
}

option {
    padding: 17px;
    width: auto;
}

option:focus {
    background-color: #fbf7e8;
}

.dealcart {
    padding-top: 15px;
}