<div class="head">
    <div class="container">
        <div class="row">
            <div class="menu-cart col-7">
                <div class="row">
                    <div class="col-2 logo">
                        <a href="" title=""><img src="../../assets/images/logo.PNG" alt=""></a>
                    </div>
                    <div class="col-10 menu-all">
                        <nav>
                            <ul class="menu">
                                <li><a routerLink="../home">Home</a></li>
                                <li><a routerLink="../menu">Menu</a></li>
                                <li><a routerLink="../about">About</a></li>
                                <li><a routerLink="../shop">Shop</a></li>
                                <li><a routerLink="../blog">Blog</a></li>
                                <li><a style="color: #ffc222;cursor: pointer;">Page</a>
                                    <ul class="sub-page">
                                        <li><a routerLink="../faq" title="">faqs</a></li>
                                        <li><a routerLink="../team" title="">our team</a></li>
                                    </ul>
                                </li>
                                <li><a routerLink="../contact">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="ship-call col-5">
                <div class="row">
                    <div class="img-ship col-2">
                        <img src="../../assets/images/ship.PNG" alt="">
                    </div>
                    <div class="call col-6">
                        <p>Call and Order in</p>
                        <p class="phone-number"> +1 718-904-4450</p>
                    </div>
                    <div class="contact-login col-4">
                        <ul>
                            <li><a href=""><i class="fas fa-search"></i></a></li>
                            <li><a href=""><i class="fas fa-user"></i></a></li>
                            <li><a routerLink="../cart"><i class="fas fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="banner-menu">
        <div class="img-banner" style="opacity: 0.2;filter:brightness(80%);">
            <img src="../../assets/images/bannermenu1.jpg" alt="">
        </div>
        <div class="titlemenu container">
            <h1>Our Team</h1>
            <div class="tohome container">
                <div class="row">
                    <div class="linkhome col-6">
                        <a href="../home" title="">Home</a>
                        <i class="fas fa-chevron-right"></i>
                    </div>
                    <div class="menu-menu col-6">
                        <p>Our team</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="chefs-main row">
    <div class="col-4 chefs-one">
        <div class="chef-img">
            <img class="wow animate__animated animate__fadeInUp" src="../../assets/images/box-team-1-2.jpg" alt="">
        </div>
        <div class="position">
            <p>CHEF</p>
        </div>
        <h4>WILLIAM SMITH</h4>
        <p>Everything We Pizza, We Pizza With Love. Designer Fastfood.</p>
        <div class="contact-login">
            <ul>
                <li><a href=""><i class="fab fa-facebook"></i></a></li>
                <li><a href=""><i class="fab fa-twitter"></i></a></li>
                <li><a href=""><i class="fab fa-google-plus"></i></a></li>
            </ul>
        </div>
    </div>
</div>